@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
